html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.line {
  position: absolute;
  background: black;
  height: 100px;
  width: 2px;
}

.blanket {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background: black;
}